.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
     font-weight: 700;;
}
.myBox {
    border: 1px solid teal;
    padding: 10px;
    min-height:300px;
    height: max-content;
    background-color: #ffff;
}
.voidChetan {
    display: none;
}
.selectCard { 
        background: #fff;
        border: 1px solid gray;
        border-radius: 6px; 
        padding-inline: 14px;
        position: relative; 
        padding: 5px;
}
.genderselectCard { 
    background: #fff;
    border: 1px solid gray;
    border-radius: 6px; 
    padding-inline: 14px;
    position: relative; 
    padding: 5px;
}
.cardActive{
    background: rgb(59, 136, 59);
    color: white;
}
.selectCard:hover {
    box-shadow: 0 2px 2px rgba(47, 47, 226, 0.25); 
}
 
.row-nopad {
    padding-top: 0px;
}
.form-label {
    margin-bottom: 0 !important;
}
.table-sm>:not(caption)>*>* {
    padding: 0;
}
.card-img-top {
    height: 110px;
}
.card-body{
    padding:5px;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.card-title {
    margin-bottom: 0;
}