.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
     font-weight: 700;;
}
.myBox {
    border: 1px solid teal;
    padding: 10px;
    height: 450px;
}
.table-sm>:not(caption)>*>* {
    padding: 0;
}
.card-img-top {
    height: 145px;
}